environments = [
  {
    name            = "Production",
    SUBSCRIPTION_ID = "86753098-8675-3098-675309-8675309867"
    AZURE_DEPLOYED  = "false"
    OWNER_EMAIL     = "user1@example.com"
  },
  {
    name            = "Development",
    SUBSCRIPTION_ID = "86753098-8675-3098-675309-8675309867"
    AZURE_DEPLOYED  = "false"
    OWNER_EMAIL     = "user2@example.com"
  },
  {
    name            = "Staging",
    SUBSCRIPTION_ID = "86753098-8675-3098-675309-8675309867"
    AZURE_DEPLOYED  = "false"
    OWNER_EMAIL     = "user3@example.com"
  }
]
